[submodule "Spika-iOS"]
	path = Spika-iOS
	url = https://github.com/cloverstudio/Spika-iOS.git
[submodule "Server"]
	path = Server
	url = https://github.com/cloverstudio/Spika-Server.git
[submodule "Spika-Android"]
	path = Spika-Android
	url = https://github.com/cloverstudio/Spika-Android.git
